/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Jan-2016, 10:31:25
    Author     : USUARIO
*/

body {
    font-family: arial,sans-serif;
}

#dataInputForm {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#dataInputForm h1 {
    text-align: center;
}

fieldset {
    background-color: pink;
    border: 4px darkorange solid;
}

td.aligntop {
    vertical-align: top;
}

input:hover {
    font-size: 1.2em;
}

td.label {
    text-align: right;
}

table.formTable td:hover {
    font-size: 1.2em;
}

tr td:first-child {
    width: 200px;
}

.rangeEnd {
    background-color: maroon;
    color: white;
}

.grow:hover {
    font-size: 1.2em;
}

